<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <!--Page connexion-->
    <section class="page_conect">
      <!--TITRE-->
      <div class="title">
        <h1>Connecte toi</h1>
      </div>
      <!--TITRE-->

      <!--FORMULAIRE-->
      <div class="conect">

        <div class="form">
          <p>Identifiant</p>
          <input type="text">
        </div>

        <div class="form">
          <p>Adresse e-mail</p>
          <input type="text">
        </div>

        <div class="form">
          <p>Mot de passe</p>
          <input type="text">
        </div>

        <div class="checkbox">
          <input type="checkbox">
          <p>Se souvenir de moi</p>
        </div>

        <div class="checkbox">
          <input type="checkbox">
          <p>Accepter les <a href="#">CGU</a></p>
        </div>

        <a id="button_conect" href="#"><div class="button">
          <p>Se connecter</p>
        </div></a>

      </div>
      <!--FORMULAIRE-->

      <!--FOOTER-->
      <footer>
        <div id="footer">
          <div>
            <img src="../../public/img/logo.png" alt="Logo de MegaOctet">
            <a href="">Plan du site</a>
            <a href="">Besoin d'aide</a>
            <a href="">Conditions Générales d'Utilisation</a>
          </div>
          <div>
            <h2>Contact</h2>
            <a href="">Facebook</a>
            <a href="">Instagram</a>
            <a href="">Agence CREA7E</a>
          </div>
        </div>
        <div id="mentions">
          <p><a href="#">Mentions légales</a> - <a href="#">CREA7E</a> - 2020</p>
        </div>
      </footer>
      <!--FOOTER-->

    </section>
    <!--Page connexion-->

  </body>
</html>
