{% extends 'base_clara.html.twig' %}

{% block title %}

{% endblock %}
{% block content %}
    <h1 class="form__title">Créer une partie !</h1>
    <form method="post">
        <section class="page_conect">
            <div class="conect">
                <button class="button_conect btn" type="submit">Créer une partie</button>
            </div>
        </section>
    </form>
{% endblock %}

