{% extends 'base_clara.html.twig' %}

{% block title %} Partie déja commencée !
{% endblock %}

{% block content %}
    <h1 class="form__title">Désolé, la partie que tu essaies de rejoindre a déjà commencée...</h1>
{% endblock %}

