{% extends 'base.html.twig' %}

        {% block body %}
            <div class="InscriptionType">
                <h1>Inscris toi !</h1>
                {{ form(form) }}
            </div>
        {% endblock %}
