{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}
        <h1>Heyo, ton code est {{ codePartie }}, partage le avec tes potes si tu veux jouer avec eux !</h1>

{% endblock %}

