{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}
    <form action="" method="post">
        <label for="codeRecupere">Insère un code de partie</label>
        <input type="number" name="codeRecupere">
        <button type="submit">Rejoindre une partie</button>
    </form>
{% endblock %}

